[Unit]
Description=Password Manager Docker Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm -p 8080:80 password-manager:v1
ExecStop=/usr/bin/docker stop $(/usr/bin/docker ps -q --filter ancestor=password-manager:v1)

[Install]
WantedBy=multi-user.target
